- form_for [@post, @figura], :html => { :multipart => true } do |f|
  = f.error_messages

  %p
    = f.label :img, "Imagen o foto, JPG, GIF, PNG"
    %br
    = f.file_field :img

  %p
    = f.label :nombre
    %br
    =f.text_field :nombre
  %p
    = f.label :descripcion
    %br
    = f.text_area :descripcion, :cols=>30, :rows=>5
  %p
    = f.submit "Registrar"
