- title "Categorias"

%table
  %tr
    %th Nombre
    %th Menu?
    %th User
  - for categoria in @categorias
    %tr
      %td= h categoria.nombre
      %td= categoria.menu
      %td= h categoria.user
      %td= link_to 'Show', [@user, categoria]
      %td= link_to 'Edit', edit_user_categoria_path(@user,categoria)
      %td= link_to 'Destroy', [@user, categoria], :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Categoria", new_user_categoria_path(@user)
