- semantic_form_for [@user,@post] do |form|
  = form.error_messages
  - form.inputs do
    = form.input :titulo
    = form.input :resumen
    = form.input :texto
    = form.input :categoria
  - form.buttons do
    = form.commit_button "Submit"


%script{ :type => "text/javascript" }

  wmd_options = {
  output: "Markdown",
  lineLength: 80,
  buttons: "bold italic | link blockquote code image | ol ul hr",
  autostart: true
  }
%script{ :type => "text/javascript", :src => "/javascripts/wmd/wmd.js" }