!!! Strict
%html{html_attrs}

  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = yield(:head)

  %body
    #header
      .contenido_header
        #logo
          %p="cristian<span class='apa'>Castillo</span>"
          %p.slogan
            no es un blog más...
        #user
          .current_user
            = render :partial => 'layouts/usuario'
          #menu
            = lenguetas
          .clear
        .clear

    #center
      .contenido
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
          
        #izquierda
          - if show_title?
            %h1= yield(:title)

          = yield

        #derecha
          %p
            = image_tag @user.gravatar_url if @user
          %p
            Buscador (Google)

          %p
            Suscribirse

          %p 
            Categorías

          = categorias

          %p 
            Links:
            %ul
              %li= link_to "Blogpuntocom.com", "http://blogpuntocom.com"
              %li= link_to "Z-nexus", "http://z-nexus.com"
              %li= link_to "Casadeplaya.com", "http://casadeplaya.com"
              %li= link_to "Grupo Ruby on Rails Perú", "http://groups.google.com.pe/group/rubyonrailsperu"
              %li= link_to "Página del grupo RoR Perú", "http://rails.pe"

          - if user_signed_in?
            %p= link_to("Nueva entrada", new_user_post_path(current_user))
  
        .clear
      
    #footer
      .contenido
        Desarrollado por 
        = link_to "Z-nexus", "http://z-nexus.com"
      = google_analytics

